//colors
$quartz: #8985db;
$jade: #505050;
$pearl: #fafafa;

//fonts
$font_0: Heebo;
$font_1: serif;

@mixin font_style($weight: normal, $color: $jade){
	font-size: 16px !important;
	line-height: 20px;
	font-family: $font_0, $font_1;
	font-weight: $weight !important;
	color: $color !important;
}
.submit-speech {
    margin: 25px 15px 15px 20px;
}

.form-control{
    @include font_style(normal, $jade);
    margin: 0px 0px 0px 0px;
    width:51%;
    border-radius: none;
    &:focus {
       border-color: $quartz
    }
}

.btn-property{
	width: 120px;
	color: #fff;
	height: 34px;
	font-family: $font_0,$font_1;
	font-size:16px;
	margin: 15px 0px 0px -15px;
	border: none;
}

.submit-btn{
    @include font_style(normal, $pearl);
	background-color:#8985db;
    @extend .btn-property;
}

.name-label{
	margin-left: 10px;
}