<div id="error_msg" *ngIf="showErrorMsg== true">
    <p class="error">{{data.heading}}</p>
    <p class="message"> {{ data.message }} </p>
    <button mat-button color="primary" class="close-btn" id="close" (click)="dialogRef.close()">
        Close
    </button>
</div>

<div id="confirm" *ngIf="showConfirmMsg== true">
    <p>{{ data.paragraph }}</p>
    <button mat-button color="primary" class="close-btn" id="backbtn" (click)="dialogRef.close()">
        {{ data.buttonName1 }}
    </button>
    <button mat-button color="primary" class="close-btn" id="speechhistorybtn" (click)="goToSpeechHistory()">
        {{ data.buttonName2 }}
    </button>
</div>

<div id="confirm" *ngIf="showDeleteMsg== true">
    <p>{{ data.paragraph }}</p>
    <button mat-button color="primary" class="close-btn" id="speechhistorybtn" (click)="goToSpeechHistory()">
        {{ data.buttonName2 }}
    </button>
</div>

<div id="msg" *ngIf="showMsg== true">
    <p>{{data.heading}}</p>
    <p class="message"> {{ data.message }} </p>
    <button mat-button color="primary" class="close-btn" id="close" (click)="dialogRef.close()">
        Close
    </button>
</div>